@using Microsoft.AspNetCore.Http

@model IEnumerable<LogicaNegocio.Dominio.Pais>

@{
    ViewData["Title"] = "ListaPais";
}

<h1>ListaPais</h1>
<p>
    @if (Context.Session.GetString("LogueadoEmail") != null)
    { 
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Codigo Iso
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pbi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poblacion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoIso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pbi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poblacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Nombre)
            </td>
            <td>
                <img src="img/@item.Imagen" height="60" width="85"/>
            </td>

            @if (Context.Session.GetString("LogueadoEmail") != null)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id } )
                </td>
            }
        </tr>
        }
    </tbody>
</table>

